.modernmarketslogo{
  height: 100px;

}

.appstoreheadercontainer {

  margin: auto;
  align-content: center;
  width: 80%;
 

}

.appstoreborder{
  background-color:rgb(40,43,74);
  min-width: 100%;
  min-height: 100vh;
}



#appstorecontainer{
  width: 90%;
  margin: auto;
  min-height: 98vh;
  background-color: rgb(255, 255, 255); 

}

.appstoretitle {
    font-size: 1.55em;
    line-height: 1.22226;
    font-weight: 500;
    text-align: left;
    letter-spacing: .027em;
    font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}


.ratingbutton{
  position: relative;
  border: 1px solid #636366;
  border-radius: 3px;
  color: #636366;
  white-space: nowrap;
  font-size: .85vw;
  line-height: 1.06667;
  font-weight: 700;
  letter-spacing: -.006em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 3px;
  padding-right: 3px;
}

.appstorebutton {
 display: flex;
  width: 100%;
  padding-bottom: 4em;
  /* border-color: rgb(213, 210, 210);
  border-style: solid;
  border-width: 0.1em; */
}
figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px; 
}

.starrating{
  height: 2vw;
  text-align: left;
}

.rating{
}



.banner{
  color: #484848;
  text-align: center;
  font-size: 1.5vw;
  line-height: 1.38462;
  font-weight: 400;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: .027em;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;



}

.bannercontainer{
  background-color: #F2F8FC;
  margin: auto;
  width: 100%;
}

.inline-list__item{
  list-style: none;
  letter-spacing: .027em;
  color: grey;
  font-size: .8em;
  line-height: 3em;
  text-wrap: none;
}



.free {
  letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #393939;
  font-size: 1.2vw;
}

.ranking {
  letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0170C9;
  font-size: 1.3vw;
  line-height: 1em;
}

.appstorelink {
  letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0170C9;
  font-size: 2.2vw;
  font-weight: 100px;
    line-height: 1em;
    padding-bottom: .8em;


}

.appdescriptiontext {
  max-width: 100%;
  display: inline-block;
  padding-top: 5px;
  text-align: left;
  padding-left: 0.5vw;

}

.testcard {
  border-style: none;

}



.contentcontainer{
  /* display: inline-flex; */
  margin-top: 30px;
  width: 98%;
  /* container-type: inline-size; */
  /* container-name: postcard; */

}

@container (min-width: 700px) {
  .testcard {

    
  }
  .testcard .appdescriptiontext{


  }
 
}


.appstoretitle{
   letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100px;
      line-height: 1em;
          font-size: 3vw;


}

.appstorepreview{
      color: #636366;
      font-size: 3vw;
      line-height: 1;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.previewcontainer{
  display: flex;
  padding-left: 1.2em;
}