.modernmarketslogo{
  height: 100px;

}

.appstoreheadercontainer {

  margin: auto;
  align-content: center;
  width: 80%;
 

}

.appstoreborder{
  background-color:rgb(40,43,74);
  min-width: 100%;
  min-height: 100vh;
}



#appstorecontainer{
  width: 90%;
  margin: auto;
  color: black;
  min-height: 98vh;
  background-color: rgb(255, 255, 255); 

}


.ratingbutton{
  position: relative;
  border: 1px solid #636366;
  border-radius: 3px;
  color: #636366;
  white-space: nowrap;
  font-size: .85vw;
  line-height: 1.06667;
  font-weight: 700;
  letter-spacing: -.006em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 3px;
  padding-right: 3px;
}

.appstorebutton {
 display: flex;
  width: 100%;
  float: right;
  max-width: 350px;
  padding-bottom: 4em;
  /* border-color: rgb(213, 210, 210);
  border-style: solid;
  border-width: 0.1em; */
}
figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px; 
}

.starrating{
  height: 2vw;
  text-align: left;
}

.rating{
}





.bannercontainer{
  background-color: #F2F8FC;
  margin: auto;
  width: 100%;
}


.screenshotcontainer{
  height: 45vw;
  min-height: 150px;
  overflow-x: scroll;
  width: 100%;
  margin: 0 auto;
}
.screenshots{
  height: 100%;

}

.inline-list__item{
  list-style: none;
  letter-spacing: .027em;
  color: grey;
  font-size: .8em;
  line-height: 3em;
  text-wrap: none;
}



.free {
  letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #393939;
  font-size: 1.2vw;
}

.ranking {
  letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0170C9;
  font-size: 1.3vw;
  margin: 0;
}

.appstorelink {
  letter-spacing: .027em;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0170C9;
  font-size: 2.2vw;
  font-weight: 100px;
    line-height: 1em;
    padding-bottom: .5vw;


}

.appdescriptiontext {
  max-width: 100%;
  display: inline-block;
  padding-top: 5px;
  text-align: left;
  padding-left: 0.5vw;

}

.testcard {
  border-style: none;

}



.contentcontainer{
  /* display: inline-flex; */
  margin-top: 30px;
  width: 98%;
  /* container-type: inline-size; */
  /* container-name: postcard; */

}

@media screen and (max-width: 2900px){

  .appstoretitle {
    font-size: 1.95em;
    line-height: 1.22226;
    font-weight: 500;
    text-align: left;
    letter-spacing: .027em;
    font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.appstorepreview{
  color: #636366;
  font-size: 2em;
font-weight: 400;
letter-spacing: .009em;
font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;

}

  .appstorepanel{
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709927584/appmimic-01_zpg0fa.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vw;
  }
  .appstorebannerhr{
    visibility: hidden;
    height: 0;

  }
  .appstoreinfo{
    height: 0;

  }

  .appstorebanner{

    visibility: hidden;
    height: 0;

  }

  .banner{
    color: #484848;
    text-align: center;
    font-size: .8vw;
    line-height: 1.38462;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: .027em;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
  
  }

  .appstoredescription {
    letter-spacing: .027em;
    font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #393939;
    font-size: 1.3vw;
    text-align: left;
    padding: 10px;
    padding-bottom: 30px;
  }

  #mmtitle {
    font-size: 2em;
    letter-spacing: .019em;
  
  }

}


@media screen and (max-width: 1900px){

  .appstoretitle {
    font-size: 1.55em;
    line-height: 1.22226;
    font-weight: 500;
    text-align: left;
    letter-spacing: .027em;
    font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.appstorepreview{
  color: #636366;
  font-size: 1.5em;
font-weight: 400;
letter-spacing: .009em;
font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;

}

  .appstorepanel{
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709927584/appmimic-01_zpg0fa.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vw;
  }
  .appstorebannerhr{
    visibility: hidden;
    height: 0;

  }
  .appstoreinfo{
    height: 0;

  }

  .appstorebanner{

    visibility: hidden;
    height: 0;

  }

  .banner{
    color: #484848;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.38462;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: .027em;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
  
  }

  .appstoredescription {
    letter-spacing: .027em;
    font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #393939;
    font-size: 1.7vw;
    text-align: left;
    padding: 10px;
    padding-bottom: 30px;
  }

  #mmtitle {
    font-size: 1.5em;
    letter-spacing: .019em;
  
  }

}

@media screen and (max-width: 768px){

  #mmtitle {
    font-size: 1.2em;
    letter-spacing: .019em;
  
  }

.appstorepreview{
  font-size: 1.2em;
}

.appstoretitle {
  font-size: 1.2em;

  
  
}

  .appstoredescription {
    letter-spacing: .027em;
    font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #393939;
    font-size: 2.7vw;
    text-align: left;
    padding: 0px;
    padding-bottom: 0px;
  }

  .appstorepanel{
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709927584/appmimic-02_bfzynn.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vw;
  }

  .appstorebannerhr{
    visibility: initial;
  }


  .banner{
    color: #484848;
    text-align: center;
    font-size: 2vw;
    line-height: 1.38462;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: .027em;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
  
  }

  .appstoreinfo{
    height: 14vw;
  }
  .appstorebanner{    
    overflow-x: scroll;
    /* background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709927584/appmimic-03_pfgbgy.png"); */
    width: 100%;
    height: 13vw;
    visibility: initial;

  }


}






.previewcontainer{
  display: flex;
  padding-left: 1.2em;

}