.rxcontainer{
  min-height: 98vh;
  width: 90%;
  margin: auto;
  background-color: rgb(24,66,37);
}
.rxborder{
  background-color:rgb(40,43,74);
}

.navbar-rx{
  background-color: 
  rgb(24, 66, 37);
}
.mmlogo{
  float: center;
  height: 60px;
  padding-left: 30px;
}

.navbar-items{
}

.refillingthem{
  text-align: left;
  font-size: 25px;
}
.allrxitems{
  font-size: 15px;
  text-align: left;
  margin: auto;
  padding: 30px;
}
.pharmacytext{
  background-color: rgb(239,218,202);
  margin-left:2%;
  margin-top: 10%;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(24,66,37);
  font-family: sans-serif;
  padding: 20px;
  top: 50%;
  padding-bottom: 0;
}

.pharmacist{
  height: 900px;
  background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709352241/AdobeStock_377668296_b7vwrx.jpg");
  height: 90vh;
  background-size: cover;
  background-position-x: 0px;
  background-repeat: no-repeat;



}
.navbartitle{
  font-family: Helvetica;
  margin-top: 40px;
  font-size: 25px;
  font-weight: normal;
  letter-spacing:5.5px;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  color: rgb(239,218,202);
}

.navbar-item{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  color: rgb(239,218,202);

}

.bodyimage {
  background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709349538/grocery_sfh8ho.png");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}