.rxcontainer{
  width: 90%;
  min-height: 80vh;
  margin: auto;
  font-family: "Gilroy-Regular";
  background-color: rgb(255, 255, 255);
}

.rxcontentcontainer{
  width: 100%;
  overflow-y: hidden;
  min-height: 80vh;
  overflow-x: hidden;
  font-family: "Gilroy-Regular";
  background-color: rgb(255, 255, 255);
}


@media screen and (max-width: 1908px){
  .rxbackground{
    padding: 0;
    margin: 0;
    min-height: 20vh;
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/w_1100,f_auto/v1709836960/AdobeStock_136772134_nyxkyy.jpg");
    background-size: cover;
    background-position-x: -100px;
    background-repeat: no-repeat;
    display:flex;
  }

  .listmmlogo{
    height: 3vh;
    padding-bottom: .8vh;

  }

  .subtitlemmlogo{
    height: 4.7vh;
    padding-left: 0;
    padding-bottom: 1.5vh;
  }

  .titlemmlogo{
    height: 9.7vh;
    padding-left: 0;
    padding-bottom: 2.5vh;
  }

  .rxtitle{
    font-family:"PulpDisplay-SemiBold", Georgia;
    font-size: 5vw;
  }
  
  .rxsubtitle{
    font-family:"Corda";
    font-size: 2vw;
    padding-bottom: 5vh;
    margin-bottom: 0;
    width: 90%;
    margin:auto;
  }


  .listbackground{
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/w_900,f_auto/v1709845230/AdobeStock_303740855_pxwick_bk14gj.png");
     background-size: cover;
     background-repeat: no-repeat;
     height: 110%;
     width: 110%;
     padding: 50px;
     background-position-x: -50px;
     overflow-y: hidden;
  }

  .rxmainlist {
    font-size: 1.2vw;
    display:inline-block;
  }
  
  
  .rxsublist {
    list-style: square;
    font-size: 1.2vw;
  
  }
  


.listtextonly{
  max-width: 50%;
}


  .rxactivate{
    margin-top: 5vh;
    font-family: "PulpDisplay-SemiBold";
    color: white;
    padding: 10px;
    margin-bottom: 5vh;
    border-radius: 30px;
    border: 2px solid rgb(4, 65, 4);
    background-color: rgb(4, 65, 4);
  }
  
  .rxactivate:hover{
    font-family: "PulpDisplay-SemiBold";
    background-color: white;
      border: 2px solid rgb(4, 65, 4);
      color:  rgb(4, 65, 4);
    padding: 10px;
    margin-bottom: 5vh;
    border-radius: 30px;
  }

  .listmmlogo{
    height: 2.6vh;
    padding-bottom: .8vh;
  
  }
}

@media screen and (max-width: 768px){
  .rxbackground{
    background-position-x: 0px;
    background-size: cover;
  
  }
  .rxtitle{
    font-family:"PulpDisplay-SemiBold", Georgia;
    font-size: 7vw;
  }

  .subtitlemmlogo{
    height: 3.2vh;
    padding-left: 0;
    padding-bottom: .95vh;
  }
  
  .rxsubtitle{
    font-family:"Corda";
    font-size: 3.5vw;
    padding-bottom: 5vh;
    margin-bottom: 0;
    width: 90%;
    margin:auto;
  }

  .listbackground{
    
     background-size: cover;
     background-repeat: no-repeat;
     height: 110%;
     width: 110%;
     padding: 50px;
     background-position-x: -210px;
     overflow-y: hidden;

  }

  .rxmainlist {
    font-size: 3vw;
    display:inline-block;
    
  }
  
  
  .rxsublist {
    list-style: square;
    font-size: 3vw;
  
  }

  .rxactivate{
    margin-top: 5vh;
    font-family: "PulpDisplay-SemiBold";
    color: white;
    padding: 7px;
    margin-bottom: 5vh;
    border-radius: 30px;
    border: 2px solid rgb(4, 65, 4);
    background-color: rgb(4, 65, 4);
  }
  
  .rxactivate:hover{
    font-family: "PulpDisplay-SemiBold";
    background-color: white;
      border: 2px solid rgb(4, 65, 4);
      color:  rgb(4, 65, 4);
    padding: 7px;
    margin-bottom: 5vh;
    border-radius: 30px;
  }
  .listmmlogo{
    height: 3.5vh;
    padding-bottom: 1.2vh;
  
  }
  
  
}


.rxrow {
  width: 110%;
}

.rxlist {
display: inline-flex;
width: 97.25%;
}



ul {
  font-size: 2.3vh;
  float: top;
  text-align: left;
  list-style: circle;
  align-items: center;
  margin: 0 auto;
  padding: auto;

}

.rxheader{
  background-color: rgb(248,247,245);
  width: 100%;
  padding-top: 5vh;
  padding: auto;
  /* background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1709839633/AdobeStock_100459285_urvd4m.png"); */
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 54vw;
  color: rgb(24,67,37);
  background-position-y: 6vh;

}






.activatebutton {
  list-style: none;
  float: right;
  color: rgb(248,247,245);
}