#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.ttf") format("truetype");
}

@font-face { 
  font-family: "NeuzitGro-Lig";
  src: local("NeuzeitGro-Lig"),
  url("/NeuzitGro-Lig.ttf") format("truetype");
  }
/* 
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    margin: 0;
    padding: 0;
  } */

  
