html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.ttf") format("truetype");
}

@font-face {
  font-family: "PulpDisplay-SemiBold";   /*Can be any text*/
  src: local("PulpDisplay-SemiBold"),
  url("/PulpDisplay-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";   /*Can be any text*/
  src: local("Gilroy-Regular"),
  url("/Gilroy-Regular.ttf") format("truetype");
}




div {
  display: inline-flex;
}

@font-face { 
  font-family: "NeuzeitGro-Lig";
  src: local("NeuzeitGro-Lig"),
  url("/NeuzeitGro-Lig.ttf") format("truetype");
  }

  /* .App {
    font-family: sans-serif;
    text-align: center;
  } */
  
  /* body {
    margin: 0;
    padding: 0;
  } 

   */
