body{
  background-color: rgb(40,43,74);
  font-family: 'NeuzeitGro-Lig';
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
}

.disclaimer {
  font-size: 13px;
  padding-top: 25px;
  padding-left: 20px;
  
}

@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.ttf") format("truetype");
}

@font-face { 
  font-family: "NeuzeitGro-Lig";
  src: local("NeuzeitGro-Lig"),
  url("/NeuzeitGro-Lig.ttf") format("truetype");
  }

h1{
  font-family: 'NeuzeitGro-Bol';
}

h3{
  font-family: 'NeuzeitGro-Bol';
}


canvas {
  align-items: center;

}

#rivebox {
  align-items: center;
  
}

#QR {
}

.rivecontainer{
  height: 60vh;
  padding-left: 0;
  padding-top: 0;
}

#test {
  height: 75vh;
}

.riveBox{
  height: 150vh;
  margin: auto;
  padding-right: 4vw;
}


#boxy{
  background-color: transparent;
  height: 80vh;
  width: 30vw;
  position:absolute;
  margin-top: 10vh;
  margin-left: 10vw;
}



p, span {
  font-family: 'NeuzeitGro-Lig', Verdana, Tahoma, sans-serif;
  font-size: 1.4em;
}

.nav-link{
  font-family: 'NeuzeitGro-Lig', Verdana;

}
button {
  border: none;
  background-color: rgba(0, 128, 0, 0);
  font-family: 'NeuzeitGro-Bol';

}

.clicktosee{
  font-size: 1.4em;
  margin-top: 20px;
  text-align: center;


}

.clicktopadding{
  padding-top: 10vh;
  margin: auto;
  width: 75%;
  text-align: center;

}

.clicktoplain{
  text-align: center;
  font-family: monaco;
  color:  rgb(240,237,243); 
  font-size: 1.7em;

}

#externalpagebackground{
  background-color:  rgb(40,43,74);
  color: rgb(240,237,243); 

}

.externalpagedescription{
  max-width: 80%;
  margin:auto;
  padding-top: 25px;
  font-family: monaco;
  font-size: 18px;
  
}

.externalpagedescriptionlink{
  max-width: 70%;
  color:rgb(44,245,208);
  margin:auto;
  font-family: monaco;
  font-size: 15px;
}

.externalpagedescriptionlink:hover{
  color:rgb(118,98,238);
}


.footer{
  background-color: rgb(235,228,238);
  font-size: .8em;
  width: 100%;
  padding: 2vh; 
  display: flex;
  color: black;
}

.clickto {
  color: 
  rgb(44,245,208);
  text-align: center;
  font-family: monaco;
  font-size: 1.7em;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.belowreceipt{
  text-align:center;
  font-size: 1.3em;
}

.description{
  background-color:  rgb(40,43,74);
  color: rgb(240,237,243); 
  text-align: left;
  margin: 0 auto;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 2vw;


}


.descriptionhead1 {
  color: white;
  font-size: 2.6em;
  padding: 0;
  
}

#login {
  padding-top: 4vh;
  padding: 5vw;
  z-index: 20;

}

.descriptionhead2 {
  background-color: rgb(44,245,208);
  color: rgb(40,43,74);
  font-size: 2.6em;
  font-family: 'NeuzeitGro-Bol';


  
}

.socialLink {
  height: 4vh;
  padding: .4em;
  filter: invert(40%) sepia(19%) saturate(4076%) hue-rotate(228deg) brightness(88%) contrast(119%);

}

.socialLink:hover {
  height: 4vh;
  padding: .4em;
  filter: invert(40%) sepia(19%) saturate(4076%) hue-rotate(928deg) brightness(58%) contrast(119%);

}

.emailmessage{
  height:100px;
  overflow-y:auto;
}

.submitbutton {
  border-radius: 500px;
  margin-left: 10px;
  width: 100px;
  -webkit-border-radius: 500px;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  border-width: 2px;
  font-family: 'NeuzeitGro-Bol';

  background-color: rgb(85,214,190);
  border-color: rgb(85,214,190);
  color: rgb(40,43,74);
}

.submitbutton:hover {

  background-color:  rgb(240,237,243);
  color: rgb(40,43,74);
  border-width: 2px;
  border-color: rgb(85,214,190);

}

.descriptiontext {
  color:  rgb(228, 222, 234);
}



.receiptanim{
  color: rgb(228, 222, 234);
  margin: 0 auto;
  padding-bottom: 15vh;


}


.email{
  background-color: rgb(240,237,243);
  text-align: left;


}

.emailbuddy{
padding: 6vh;
font-size: .7em;
text-align: left;

}

.form-control{
  font-family: 'NeuzeitGro-Lig', Helvetica;
  border: none;
}




.input,
.textarea {
  padding: 2px 6px;
  border: none;
  font-family: 'NeuzeitGro-Lig', Verdana, Tahoma, sans-serif;
  font-size: 0.7em;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 1 2rem;
}


.textarea {
  border-radius: 5px;
  text-decoration: none;

  display: block;
  width: 100%;
  overflow: hidden;
  resize: vertical;
  min-height: 40px;
  line-height: 20px;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.ttf") format("truetype");
}

@font-face {
  font-family: "PulpDisplay-SemiBold";   /*Can be any text*/
  src: local("PulpDisplay-SemiBold"),
  url("/PulpDisplay-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";   /*Can be any text*/
  src: local("Gilroy-Regular"),
  url("/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Corda";   /*Can be any text*/
  src: local("Corda"),
  url("/Corda.ttf") format("truetype");
}
