body{
  background-color: rgb(255, 255, 255);
  font-family: 'NeuzeitGro-Bol', Verdana;
  margin: 0 auto;
  text-align: center;

}


canvas {
  align-items: center;

}

#rivebox {
  align-items: center;
  
}

.riveBox{
  width: 100%;
  height: 100vh;
  margin: auto;
}


#boxy{
  background-color: transparent;
  height: 80vh;
  width: 30vw;
  position:absolute;
  margin-top: 10vh;
  margin-left: 10vw;
}



p, span {
  font-family: 'NeuzeitGro-Lig', Verdana, Tahoma, sans-serif;
  font-size: 1.4em;
}

.nav-link{
  font-family: 'NeuzeitGro-Lig', Verdana;

}
button {
  border: none;
  background-color: rgba(0, 128, 0, 0);
}


.description{
  background-color:  rgb(40,43,74);
  color: rgb(240,237,243); 
  text-align: left;
  background-size: cover;
  margin: auto;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 2vw;

}


.descriptionhead1 {
  color: white;
  
}

.descriptionhead2 {
  background-color: rgb(44,245,208);
  color: rgb(40,43,74);
  
}

.descriptiontext {
  color:  rgb(228, 222, 234);
}



.receiptanim{
  color: rgb(40,43,74);
  background-color: rgb(171, 176, 198);
  margin: 0 auto;
}